<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
</head>
<body>

<!-- this is the title shown on the page -->
<h2>Reset Password</h2>

<!-- this form sends data to Django when user clicks the button -->
<form method="post">

    <!-- this is a security token required by Django
         it protects the form from hackers -->
    {% csrf_token %}

    <!-- this shows the form that Django created automatically
         it includes:
         - email input box
         - labels
         Django builds this in the background (in auth system) -->
    {{ form.as_p }}

    <!-- when user clicks this button,
         the email is sent to Django backend -->
    <button type="submit">Send Reset Email</button>

</form>

</body>
</html>

<!--This page shows a form
User types email
Clicks button
Django sends reset email-->