{% extends "base.html" %}
<!-- this page uses "base.html", so it will automatically include the sidebar, header, and footer -->

{% block content %}
<!-- everything inside this block will appear in the main section of the page -->


<!-- this is the title of the page -->
<!-- it tells the user they are now choosing a new password -->
<h2>Set New Password</h2>


<!-- this form is used to send the new password to the server -->
<form method="post">

    <!-- this is a security token -->
    <!-- it protects the form from hackers and fake requests -->
    {% csrf_token %}

    <!-- this shows the form fields automatically -->
    <!-- Django creates inputs like: new password and confirm password -->
    {{ form.as_p }}

    <!-- this button sends the form when clicked -->
    <button type="submit">Update Password</button>

</form>


<!-- This page lets the user type a new password

What happens:

User writes new password
User clicks button
Django checks it
Password is saved -->

{% endblock %}