{% extends "base.html" %}
<!-- this page uses "base.html", so it will automatically show the sidebar, header, and footer -->

{% block content %}
<!-- everything inside this block will go into the main area of the page (inside base.html) -->


<!-- this is the main title shown to the user -->
<h2>Email Sent</h2>


<!-- this message explains what just happened -->
<!-- it tells the user that if their email exists in the system, they will receive a reset link -->
<p>
    If an account exists with that email, a reset link has been sent.
</p>

{% endblock %}

<!--this tells the user “Check your email”-->