{% extends "base.html" %}
<!-- this page uses "base.html", so it will automatically show the sidebar, header, and footer -->

{% block content %}
<!-- everything inside this block will appear in the main section of the page -->


<!-- this is the title shown after password is changed -->
<h2>Password Updated</h2>


<!-- this message tells the user that everything worked successfully -->
<p>Your password has been successfully changed.</p>


<!-- this link takes the user back to the login page -->
<!-- {% url 'login' %} means Django finds the correct URL from "urls.py" -->
<a href="{% url 'login' %}">Login</a>


<!-- This page tells the user: “Your password is now changed”

Then gives a link to go back and login-->

{% endblock %}